{% load static %}
<!-- Header -->
<header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="index.html"><h2>Stand Blog<em>.</em></h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if request.resolver_match.url_name == 'home' %} active {% endif %}">
              <a class="nav-link" href="{% url "home_app:home" %}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="about.html">edie</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'post_list' %} active {% endif %}">
              <a class="nav-link" href="{% url "blog:post_list" %}">blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "home_app:contact_us" %}">Contact Us</a>
            </li>
            <li class="nav-item">
              {% if request.user.is_authenticated %}
                <div class="d-flex">
                  {% if user.profile.image %}
                    <img src="{{ user.profile.image.url }}"  style="border-radius: 100%; width: 35px; height: 35px;" alt="">
                  {% else %}
                    <img src="{% static 'images/blog-thumb-04.jpg' %}"  style="border-radius: 100%; width: 35px; height: 35px;" alt="">
                  {% endif %}
                  <a class="nav-link" href="">{{ request.user.username }}</a>
                  <a class="" href="{% url 'account:logout' %}"><span class="badge btn-danger mt-2">logout</span></a>
                  <a class="ml-3 d-block" href="{% url 'account:edit' %}"><span class="badge btn-warning mt-2">edit profile</span></a>
                </div>
              {% else %}
                <div class="d-flex">
                  <a class="nav-link" href="{% url 'account:login' %}">login</a>
                  <a class="nav-link" href="{% url 'account:register' %}">register</a>
                </div>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>